.custom-footer-background{
    background-color: #8D8796;
}

.text-partnership{
    text-decoration: none;
    color: black;
}

.sticky-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.margin-top-footer{
    margin-top: 30px;
}
