.custom-navbar-background{
    background-color: #F2BEFC;
}

.margin-left{
    margin-left: -250px;
}

.custom-link{
    textDecoration: 'none';
    color: black;
}

.custom-link:focus, .custom-link:hover, .custom-link:visited, .custom-link:link, .custom-link:active {
    text-decoration: none;
    color: black;
}