.custom-button{
    background-color: #8D8796;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: auto;    
    display: block;
    border-radius: 5px;
}