.custom-image-size-product{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.margin-product{
    margin-right: 50px;
}

.cart-product{
    width: 18rem;
    height: 22rem;
}

/* .move-price{
    margin-left: 65rem;
}

.move-button{
    margin-left: 30rem;
} */

.center-text{
    text-align: center;
}

.horizontal-margin{
    margin-left: 50px;
    margin-right: 50px;
}

.image-middle{
    display:block;
    margin-left: auto;
    margin-right: auto;
}