.custom-image-size{
    width: 5%;
    height: auto;
    margin: auto;    
    display: block;
}

.margin-top{
    margin-top: 20px;
}

.margin-product{
    margin-right: 50px;
}

.horizontal-margin{
    margin-left: 20px;
    margin-right: 20px;
}

.align-card-center{
    margin-left: auto;
    margin-right: auto;
}

.custom-image-size-product{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.margin-product{
    margin-right: 50px;
}

.cart-product{
    width: 18rem;
    height: 22rem;
}