body{
    background-color: #F3E0EC;
}

.custom-background-register{
    background-color: #F2BEFC;
}

.center-screen-form-register{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 150px;
}